.card-content{
    margin-left: auto;
}
.mat-card-style{
    background: #f8f9fa;
    width: 50%;
    height: 50%;
    justify-content: center;
    margin-left: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: #00000026 2px solid;
}
  .card-header-style{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: larger;
    font-family: serif;
    color: black;
  }
  .input-style{
      width: 60% !important;
  }
  .display-style{
      display: grid !important;
  }
  .mat-form-field-style{
    width: 400px !important;
    font-size: medium !important;
    font-family: initial !important;
  }
  .required-field::after {
    content: "*";
    color: red;
    float: right;
  }
  .mat-button-style{
    border: 1px solid #673535 !important;
    background-color: #0069aa;
    color: white;
    margin-left: 100px;
    width: 100px;
    margin-top: 20px;
    font-family: Lucida Sans;
  }
  .mat-button-style-right{
    border: 1px solid #673535 !important;
    background-color: #0069aa;
    color: white;
    margin-left:10px;
    width: 100px;
    margin-top: 20px;
    font-family: Lucida Sans;
}
